
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #efefef;
    font-size: 34px;
    color: #06061b;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
    border-color: #06061b;
    overflow: hidden;
}

.logo img, .banner img {
    width: 100%;
    height: auto;
}

h1, h1 a {
    margin: 0 10px;
    text-decoration: none;
    color:#06061b;
}

a {
    text-decoration: none;
}

.small {
    font-size: 18px;
}

.links {
    max-width: 200px;
    height: 40px;
    background: #efefef;
    padding: 10px;
    border-radius: 6px;
}

.section {
    padding: 20px;
    text-align: center;
}

.section a {
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin: 0 5px;
    padding: 20px;
    position: relative;
    background: #06061b;
    width: 100%;
    min-width: 250px;
    min-height: 150px;
    border-radius: 6px;
    margin-top: 24px;
    color: #efefef;
    text-align: center;
}

@media (max-width: 768px) {
    .row {
        flex-direction: row;
    }
    .column {
        margin: 10px;
    }
}
